<ion-nav>
  <ion-header>
    <ion-toolbar class="todoHeadToolbar">
      <ion-buttons slot="primary">
        <ion-button (click)="logout()">
          <ion-icon slot="icon-only" name="exit"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>Your TODO's</ion-title>
      <ion-buttons slot="secondary">
        <ion-button (click)="addTODO()">
          <ion-icon slot="icon-only" name="add"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content>
      </ion-refresher-content>
    </ion-refresher>
    <ion-list *ngFor="let item of todoList">
      <ion-item button (click)=showDetail(item.title)>
        <ion-label>
          <h2>Title : {{item.title}}</h2>
          <p>{{item.description}}</p>
        </ion-label>
        <ion-label>
          <h2>Status :
            <ng-container *ngIf="item.status; else elseTemplate">
              done
            </ng-container>
            <ng-template #elseTemplate>
              in Progress...
            </ng-template>
          </h2>
        </ion-label>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-content>
</ion-nav>
