<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="back()" defaultHref='todolist'></ion-back-button>
    </ion-buttons>
    <ion-title>{{todo.title}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <form [formGroup]="todoEditForm" (ngSubmit)="accept(todo._id)">
      <ion-card-header>
        <ion-card-title>
          <ion-item>
            <ion-label position="floating">Title</ion-label>
            <ion-input formControlName="title" type="text" value={{todo.title}}></ion-input>
          </ion-item>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-label position="floating">Description</ion-label>
        <ion-textarea formControlName="description" value={{todo.description}}>
        </ion-textarea>
      </ion-card-content>
      <ion-item>
        <ion-label>Done</ion-label>
        <ion-toggle slot="start" name="kiwi" color="success"
          checked={{todo.status}} (ionChange)='change($event)'></ion-toggle>
      </ion-item>
      <ion-button type='submit'>
        Save Changes
      </ion-button>
      <ion-button (click)="deleteTodo(todo._id)">
        Delete TODO
      </ion-button>
    </form>

  </ion-card>
</ion-content>
